.mainPage {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    overflow: hidden;
}

/* Main Page Top */
.mainPageTop {
    height: 70%;
    width: 100%;
    display: flex;
}

.mainPageTop--left {
    flex: 1;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.mainPage__staffContainer__header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 0 15px;

    h2 {
        color: #3e3f46;
    }
}

.mainPage__staffContainer__listStaff {
    width: 100%;
    flex: 1;
    background-color: #ffffff;
    display: flex;
    gap: 15px;
    flex-direction: column;
    overflow: auto;
    padding: 5px 15px 5px 15px;
}

.mainPage__staffContainer__listStaff::-webkit-scrollbar {
    background-color: #ffffff;
    width: 5px;
}

.mainPage__staffContainer__listStaff::-webkit-scrollbar-thumb {
    background-color: #3e3f46;
    border-radius: 5px;
    /* width: 2px; */
}

.staffTag {
    height: 80px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    /* border-bottom: 1px solid #808080; */
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

    .staffTag__avartarBox {
        height: 50px;
        width: 50px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #808080;

        img {
            height: 100%;
        }
    }

    .staffTag__nameBox {
        flex: 1;
        height: fit-content;

        p {
            font-size: 18px;
        }
    }

    .staffTag__makerBox {
        i {
            font-size: 24px;
        }
    }
}

.staffTag:hover {
    background-color: #eeeeee;
    cursor: grab;
}

.staffTag:active {
    cursor: grabbing;
}

.mainPageTop--right {
    position: relative;
    flex: 4;
    height: 100%;
}

.adminTag {
    position: absolute;
    z-index: 500;
    top: 20px;
    left: 50px;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;

    button {
        height: fit-content;
        width: fit-content;
        font-size: 16px;
        display: flex;
        gap: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        box-shadow: var(--main-boxShadow);
    }
}

.adminGmail {
    height: fit-content;
    width: fit-content;
    font-size: 18px;
    color: #ffffff;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.adminLogout {
    color: white;
    background-color: #FF0000;
}

/* Main Page Bottom */
.mainPageBottom {
    height: 30%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    border-top: 1px solid #808080;
}

.mainPageBottom--left {
    height: 100%;
    width: 3%;
    border-right: 1px solid #808080;
    display: flex;
    flex-direction: column;

    span {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filterIcon {
        background-color: #ffffff;
        color: black;
        font-size: 24px;
    }

    .filterIcon.null {
        background-color: var(--main-color);
        color: white;
        font-size: 24px;
    }

    .filterChoice {
        font-size: 18px;
    }

    .filter--normal {
        color: #32CD32;
    }

    .filter--normal.normal {
        color: #ffffff;
        background-color: #32CD32;
    }

    .filter--normal.normal:hover {
        color: #ffffff;
        background-color: #32CD32;
    }

    .filter--severe {
        color: #FF8C00;
    }

    .filter--severe.severe {
        color: #ffffff;
        background-color: #FF8C00;
    }

    .filter--severe.severe:hover {
        color: #ffffff;
        background-color: #FF8C00;
    }

    .filter--critical {
        color: #FF0000;
    }

    .filter--critical.critical {
        color: #ffffff;
        background-color: #FF0000;
    }

    .filter--critical.critical:hover {
        color: #ffffff;
        background-color: #FF0000;
    }

    .filter--normal:hover {
        cursor: grab;
        background-color: #eeeeee;
    }

    .filter--severe:hover {
        cursor: grab;
        background-color: #eeeeee;
    }

    .filter--critical:hover {
        cursor: grab;
        background-color: #eeeeee;
    }

    .logoApp {
        position: relative;

        img {
            height: 50%;
        }
    }

    .logoApp::after {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 70%;
        background-color: gray;
    }

}

.mainPageBottom--right {
    height: 100%;
    width: 97%;
}

.reportCount {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.reportList__title {
    height: 50px;
    display: grid;
    /* grid-template-columns: 5% repeat(6, 1fr) 8%; */
    grid-template-columns: 5% 15% 10% 10% repeat(2, 1fr) 10% 5% 5%;

    span {
        height: 100%;
        color: #ffffff;
        background-color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: solid 2px #ffffff;

        p {
            font-size: 18px;
        }
    }
}

.reportList__title span:last-child {
    border-right: none;
}

.reportList__report {
    height: calc(100% - 50px - 30px);
    width: 100%;
    overflow: auto;
}

.reportList__report::-webkit-scrollbar {
    display: none;
}

.reportRow {
    height: 65px;
    display: grid;
    grid-template-columns: 5% 15% 10% 10% repeat(2, 1fr) 10% 5% 5%;
    padding: 10px 0;
    border-bottom: 2px solid lightgray;

    span {
        border-right: 2px solid lightgray;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 16px;

            .fa-check {
                color: lime;
                font-size: 24px;
            }

            .fa-stopwatch {
                color: orange;
                font-size: 24px;
            }
        }
    }
}

.reportRow span:last-child {
    border-right: none;
}

.reportRow:hover {
    background-color: #eeeeee;
}


.imgReportShowcaseContainer {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .imgReportShowcaseForm {
        height: fit-content;
        max-width: 80%;
        width: fit-content;

        img {
            height: 100%;
            width: auto;
        }
    }
}




/* Custom marker */
.report__customMarker {
    .reportMarker {
        height: 50px;
        width: 50px;
        background-color: transparent;
    }

    .fa-flag {
        color: red;
        font-size: 40px;
    }
}


.staff__customMarker {
    .targetMarker {
        height: fit-content;
        width: fit-content;
        transform: translate(0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infoBox {
        position: relative;
        height: fit-content;
        width: fit-content;
        background-color: #3e3f46;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        padding: 5px 10px;
    }

    .infoBox::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 0;
        width: 0;

        border: solid 10px;
        border-top-color: #3e3f46;
        border-bottom-color: transparent !important;
        border-right-color: transparent !important;
        border-left-color: transparent !important;
    }

    .markerStaffName {
        width: fit-content;
        color: white;
        font-size: 16px;
    }

    .targetMarker__imgBox {
        height: 70px;
        width: 70px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        border-radius: 50%;
        background-color: transparent;

        img {
            height: 100%;
            width: auto;
        }
    }
}