.App {
  height: 100%;
  /* padding: 60px 400px 0 400px; */
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .mobileIcon {
    display: none;
  }
}

.App.main {
  height: 100%;
  padding: 0 !important;
  display: flex;
  overflow: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

:root {
  --main-boxShadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);

  --navbar-color-text: #808080;
  --side-padding: 400px
}

/* Navbar */
.navbarContainer {
  position: fixed;
  z-index: 20;
  top: 40px;
  height: fit-content;
  width: calc(100% - var(--side-padding)*2);
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  gap: 50px;
  align-items: center;
  border-radius: 50px !important;

  .navbarContainer__webLogo {
    height: 60px;
    width: 60px;
    box-shadow: var(--main-boxShadow);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 50%;

    img {
      height: 100%;
      width: auto;
    }
  }

  .navbar {
    height: 60px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--main-boxShadow);
    border-radius: 40px;
    padding: 10px 40px;

    .navbarBtn {
      user-select: none;
      height: 100%;
      width: fit-content;
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      color: var(--navbar-color-text);
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      border-radius: 20px;
    }

    .navbarBtn:hover {
      background-color: #eeeeee;
      cursor: grab;
    }

    .specNavbarBtn {
      background-color: var(--main-color);
      color: white;
    }

    .specNavbarBtn:hover {
      background-color: var(--main-color);
      cursor: grab;
    }

    .chosen {
      background-color: #eeeeee;
      color: var(--main-color) !important;
      font-weight: 600;

    }
  }
}

/* Res */
@media only screen and (max-width: 600px) {
  :root {
    --side-padding: 40px;
  }

  .App {
    height: 100%;
    /* padding: 60px 400px 0 400px; */
    width: 100%;
    padding-top: 10px !important;
  }

  .mobileIcon {
    display: block !important;
  }

  .desktopText {
    display: none;
  }

  .specNavbarBtn {
    display: none !important;
  }

  .navbarContainer__webLogo {
    display: none;
  }

  .navbarContainer {
    top: calc(100% - 20px);
    transform: translateY(-100%);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--main-boxShadow);
    border-radius: 40px;
    padding: 10px 10px !important;
  }
}